
services:
  quickwit:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7280:8080"
    volumes:
      - quickwit_data_index:/quickwit/qwdata/indexes
      - ./quickwit.yaml:/quickwit/config/quickwit.yaml
      - ./tmp/sa-key.json:/quickwit/config/sa-key.json:ro
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: "/quickwit/config/sa-key.json"
      QUICKWIT_USERNAME: quickwit
      QUICKWIT_PASSWORD: password

volumes:
  quickwit_data_index:
